<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="hw" class="com.haolei.spring.HelloWorld">
		<property name="name2" value="haolei"></property>
	</bean>	
	
	<bean id="car" class="com.haolei.spring.Car">
		<constructor-arg value="Audi"></constructor-arg>
		<constructor-arg value="shanghai"></constructor-arg>
		<constructor-arg value="300000"></constructor-arg>
	</bean>
	
	<bean id="car2" class="com.haolei.spring.Car">
		<constructor-arg value="Audi" type="java.lang.String"></constructor-arg>
		<constructor-arg value="shanghai" type="java.lang.String"></constructor-arg>
		<constructor-arg value="350" type="int"></constructor-arg>
	</bean>
</beans>
